<div id="eventoTab">
  <div class="">
    <div class="row">
      <div class="col s12">

        <table class="highlight responsive-table">
          <thead>
            <tr>
              <th>Fecha</th>
              <th>Cliente</th>
              <th>Tipo</th>
              <th>Detalles</th>
              <th>Pago</th>
              <th>Borrar</th>
            </tr>
          </thead>
          <tbody id="eventContent">

          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
