<div id="eventoTab">
  <div class="">
    <div class="row">
      <div class="col s12">

        <table class="highlight responsive-table">
          <thead>
            <tr>
              <th>Fecha</th>
              <th>Cliente</th>
              <th>Tipo</th>
              <th>Detalles</th>
              <th>Pago</th>
              <th>Borrar</th>
            </tr>
          </thead>
          <tbody id="eventContent">
            <tr *ngFor="let event of eventService.events">
              <td>{{ event.date }}</td>
              <td>{{ event.client }}</td>
              <td>{{ event.type }}</td>
              <td><a class="btn btn-small waves-effect waves-light" href="#detailEvent" (click)="detalleEvento(event._id)"><i class="material-icons"></i></a></td>
            <td><a class="btn btn-small waves-effect waves-light" href="#newPayment" (click)="pagarEvento(event._id)"><i class="material-icons"></i></a></td>
              <td><a class="btn btn-small waves-effect waves-light" href="#" (click)="eliminarEvento(event._id)"><i class="material-icons">delete</i></a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>


<!-- modal para pagos -->
<div class="modal" id="newPayment">
  <div class="modal-content">
    <form action="" method="post" id="formNewPayment">
      <div class="row">
        <div class="input-field col s6">
          <input type="date" name="paymentEvent" id="paymentEvent" readonly>
          <label for="paymentEvent">Evento a pagar</label>
        </div>
        <div class="input-field col s6">
          <input type="date" name="paymentDate" id="paymentDate" required>
          <label for="paymentDate">Fecha del pago</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <select class="select" name="paymentType" id="paymentType">
            <option value="" selected disabled>Seleccione</option>
            <option value="1">Efectivo</option>
            <option value="2">Tarjeta</option>
            <option value="3">Transferencia/Depósito</option>
          </select>
          <label for="paymentType">Tipo de pago</label>
        </div>
        <div class="input-field col s6">
          <select class="select" name="paymentClient" id="paymentClient"></select>
          <label for="paymentClient">Cliente</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input type="number" name="paymentMount" id="paymentMount" />
          <label for="paymentMount">Monto del pago</label>
        </div>
        <div class="input-field col s6"><input type="text" id="paymentRemain" name="paymentRemain" readonly><label
            for="paymentRemain">Total a pagar</label></div>
      </div>
      <div class="row">
        <div class="col s3"><button type="reset" class="btn">Limpiar <i class="materialize-icons">clear</i></button>
        </div>
        <div class="col s3"><button type="submit" class="btn modal-close">Efectuar <i
              class="materialize-icons">payment</i></button>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer"><button class="btn modal-close waves-effect waves-green">Cerrar</button></div>
</div>
<!-- fin modal para pagos -->

<!-- modal detalles Evento -->
<div class="modal" id="detailEvent">
  <div class="modal-content">
    <div class="row">
      <div class="input-field col m4">
        <input type="date" name="detailEventDate" id="detailEventDate" readonly>
        <label for="detailEventDate">Fecha</label>
      </div>
      <div class="input-field col m4">
        <input type="text" name="detailEventClient" id="detailEventClient" readonly>
        <label for="detailEventClient">Cliente</label>
      </div>
      <div class="input-field col m4">
        <input type="text" name="detailEventType" id="detailEventType" readonly>
        <label for="detailEventType">Tipo de Evento</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col m4">
        <input type="number" name="detailEventPrice" id="detailEventPrice" readonly>
        <label for="detailEventPrice">Precio</label>
      </div>
      <div class="input-field col m4">
        <input type="number" name="detailEventAditional" id="detailEventAditional" readonly>
        <label for="detailEventAditional">Adicional</label>
      </div>
      <div class="input-field col m4">
        <input type="number" name="detailEventTotal" id="detailEventTotal" readonly>
        <label for="detailEventTotal">Total</label>
      </div>
    </div>

    <div class="row">
      <div class="col s12">
        <textarea name="detailEventComments" class="materialize-textarea" id="detailEventComments" cols="30" rows="10"
          readonly></textarea>
        <label for="detailEventComments">Comentarios</label>
      </div>
    </div>

    <div class="row">
      <div class="col s12">
        <h4>Pagos Realizados</h4>
        <ul id="listPago" class="collapsible"></ul>
      </div>
    </div>

  </div>
  <div class="modal-footer">
    <div class="col s4">
      <a class="btn modal-close waves-effect waves-light center" id="detailEventPayments" href="#modalPagos">Cerrar</a>
    </div>
  </div>
</div>
<!-- fin modal detalle Evento -->