<div class="row">
  <div class="navbar-fixed">
    <nav id="navegacionprincipal">
      <div class="nav-wrapper">
        <ul class="tabs tabs-transparent">
          <li class="tab col l4">
            <a href="#clienteTab"><i class="material-icons left">arrow_back</i> Clientes</a>
          </li>
          <li class="tab col l4">
            <a class="active" href="#casaverde">Casa Verde</a>
          </li>
          <li class="tab col l4">
            <a href="#eventoTab"><i class="material-icons right">arrow_forward</i> Eventos</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
  <div id="casaverde" class="">
    <div class="calendar"></div>
    <div id="modaltest" class="modal">
      <div class="modal-content">
        <h2>Crear Evento</h2>
        <form action="crearClienteNuevo" method="post" id="formNewCliente"></form>
        <form id="crearEvento">
          <div class="row">
            <div class="input-field col m6 s12">
              <label for="fecha">Fecha del Evento</label>
              <input type="date" name="fecha" id="fecha" readonly>
              <span class="text-helper" data-success="bien" data-error="fecha no valida"></span>
            </div>

            <div class="input-field col m6 s12">
              <select class="select" id="cliente">

              </select>
              <label>Seleccionar Cliente</label>
              <span class="text-helper" data-error="asigne un cliente" data-success="bien"></span>
            </div>
          </div>
          <div class="row">
            <div class="" id="nuevocliente" style="display: none;">
              <div class="row">
                <div class="input-field col m6 s12">
                  <input form="formNewCliente" type="text" name="nombrenuevo" id="nombrenuevo" class="validate">
                  <span class="text-helper" data-error="no es valido" data-success="bien"></span>
                  <label for="nombrenuevo">Nombre</label>
                </div>

                <div class="input-field col m6 s12">
                  <input form="formNewCliente" type="email" name="emailnuevo" id="emailnuevo">
                  <span class="text-helper" data-error="correo inválido" data-success="bien"></span>
                  <label for="emailnuevo">Correo electronico</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col m6 s12">
                  <label for="telefono1nuevo">Telefono principal</label>
                  <input form="formNewCliente" type="tel" name="telefono1nuevo" id="telefono1nuevo" class="validate">
                  <span class="text-helper" data-error="telefono inválido" data-success="bien"></span>
                  <label for="telefono1nuevo">Telefono</label>
                </div>
                <div class="input-field col m6 s12">
                  <label for="telefono2nuevo">Telefono de respaldo</label>
                  <input form="formNewCliente" type="tel" name="telefono2nuevo" id="telefono2nuevo" class="validate">
                  <span class="text-helper" data-success="bien" data-error="telefono inválido"></span>
                </div>
              </div>
              <div class="row">
                <div class="input-field">
                  <label for="clientecomentariosnuevo">Comentarios</label>
                  <textarea form="formNewCliente" class="materialize-textarea validate" name="clientecomentariosnuevo"
                    id="clientecomentariosnuevo" data-length="200" maxlength="200"></textarea>
                  <span class="text-helper" data-error="Has excedido el limite de caracteres"
                    data-success="Bien"></span>
                </div>
              </div>
              <div class="row">
                <button form="formNewCliente" id="limpiarCliente" class="btn" type="reset"><i
                    class="material-icons">clear</i> Limpiar</button>

                <button form="formNewCliente" id="crearnuevocliente" class="btn" type="submit">Registrar cliente<i
                    class="material-icons">right</i></button>
              </div>

            </div>
          </div>

          <div class="row">
            <div class="input-field col m4">
              <label for="precio">Precio</label>
              <input type="number" name="precio" id="precio" class="validate">
              <span class="helper-text" data-error="monto invalido" data-success="bien"></span>
            </div>

            <div class="input-field col m4">
              <label for="adicional">Adicional</label>
              <input type="number" name="adicional" id="adicional" class="validate">
              <span class="helper-text" data-error="monto invalido" data-success="bien"></span>
            </div>
            <div class="input-field col m4">
              <label for="total">Total</label>
              <input type="text" name="total" id="total" readonly>
            </div>
          </div>
          <div class="row">
            <div class="input-field col m6 s12">
              <select class="select" id="tipoEvento">
                <option value="" disabled selected>Seleccione</option>
                <option value="1">Cumpleaños</option>
                <option value="2">Aniversario</option>
                <option value="3">Boda</option>
                <option value="4">Bautizo</option>
                <option value="5">Reunion</option>
                <option value="6">Otro</option>
              </select>
              <label>Tipo de Evento</label>
              <span class="text-helper" data-error="debe seleccionar alguna opcion válida" data-success="bien"></span>
            </div>
            <div class="input-field col m6 s12">
              <select class="select" id="statusEvento">
                <option value="" disabled selected>Seleccione</option>
                <option value="reservado">Reservado</option>
                <option value="pagado">Pagado</option>
              </select>
              <label>Status del Evento</label>
              <span class="text-helper" data-error="debe seleccionar alguna opcion válida" data-success="bien"></span>
            </div>
          </div>
          <div class="row">
            <div class="input-field col m12">
              <textarea name="comentarios" id="comentarios" class="materialize-textarea" data-length="200"
                maxlength="200"></textarea>
              <label for="comentarios">Comentarios</label>
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn modal-close" id="crear">
              Reservar <i class="material-icons">done</i>
            </button>
          </div>
        </form>
      </div><!-- /modal-content  -->
      <div class="modal-footer">
        <button class="btn modal-close">Cerrar</button>
      </div>
    </div>
  </div>



  <app-client></app-client>
</div>